

.todo-list{
    height: 70vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}



.todo-display{
    background-color: #616C6F;
   
    width: 100%;
}

.formcont{
    height: 60px;
}

#list {
    cursor: pointer;
    transition: ease 1s;
}
#list ListGroupItem {
    transition: ease 1s;
}